# Kaggle Titanic

 uniquement la fonction

importation des librairies

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn import tree

fonction qui nettoie les données

In [23]:
def nettoyer_data(general_dataf):
    """ fonction qui pour tous Na mets la médiane, transforme M/F en 0/1 et donne des noms plus simple aux colonnes"""
    idx_nan = general_dataf[(general_dataf['Embarked'] != 'S') & (general_dataf['Embarked'] != 'C') & (general_dataf['Embarked'] != 'Q')].index
    general_dataf = general_dataf.drop(idx_nan)
    le = preprocessing.LabelEncoder()
    le.fit(general_dataf['Embarked'])
    general_dataf['Embarked']=le.transform(general_dataf["Embarked"])
    le.fit(general_dataf['Sex'])
    general_dataf['Sex']=le.transform(general_dataf['Sex'])
    general_dataf['Age']=general_dataf['Age'].fillna(general_dataf['Age'].median())
    general_dataf=general_dataf.rename(columns={'SibSp':'Nb_freresoeur_conjoint','Parch':'nb_parentenfants','Fare':'prix'})
    general_dataf['prix']=general_dataf['prix'].fillna(general_dataf['prix'].median())
    
    return general_dataf

fonction qui selectionne les x et y

In [24]:
def select(data_train,data_test,list_col,) :
    x=data_train.loc[:,list_col]
    y=data_train.loc[:,['Survived']]
    x_test=data_test.loc[:,list_col]
    return (x,y,x_test)

fonction transforme age en classe

In [25]:

def age_cat(age):
    if age<=3:
        return 0
    elif age<= 12 and age>3:
        return 1
    elif age<= 18 and age>12:
        return 2
    elif age<= 40 and age>18:
        return 3
    elif age<= 60 and age>40:
        return 4
    elif age>60:
        return 5

def col_cat(data):
    data['cat_age'] = data['Age'].map(age_cat)
    return data

fonction générale

In [33]:
def Kaggle_titanic(fich_train,fich_test,colonne_a_tester,name_csv,model_choose):
    general_data = pd.read_csv(fich_train)
    dt=nettoyer_data(general_data) 
    dt_test= pd.read_csv(fich_test)
    dt_test=nettoyer_data(dt_test)
    dt=col_cat(dt)
    dt_test=col_cat(dt_test)
    # recupèrer les id
    id_test=dt_test.loc[:,['PassengerId']]
    Xt,Yt,y=select(dt,dt_test,colonne_a_tester)
    from sklearn.cross_validation import train_test_split
    # train test split
    X_train, X_test, y_train, y_test = train_test_split(Xt,Yt, test_size=0.3, random_state=0)
    # machine learning
    print("Avec la méthode "+str(model_choose))
    model = model_choose
    model.fit(X_train, y_train)
    # check the accuracy on the training set
    accuracy_train=model.score(X_train, y_train)
    print("the accurucy on the training set is %f"%(accuracy_train))
    predi=model.predict(X_test)
    accuracy_test=model.score(X_test,y_test)
    print (dt_test)
    print("the accurucy on the tesx set is %f"%(accuracy_test))
    Survive=model.predict(dt_test)
    PassengerId = dt_test['PassengerId'].tolist()
    data = pd.DataFrame( {'PassengerId' :PassengerId, 'Survived' : Survive} )
    data = data.set_index('PassengerId')
    data.to_csv(name_csv)
    return True
Kaggle_titanic("train.csv","test.csv",['Age',"cat_age","prix","Embarked"],"fonct_RL.csv",LogisticRegression())
Kaggle_titanic("train.csv","test.csv",['Age',"Sex","prix","Embarked"],"fonct_GNB.csv",LogisticRegression())
Kaggle_titanic("train.csv","test.csv",['Age',"Sex","prix","Embarked"],"fonct_Treeba.csv",tree.DecisionTreeClassifier())

Avec la méthode LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)
the accurucy on the training set is 0.688103
     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

     Sex   Age  Nb_freresoeur_conjoint  nb_parentenfants              Ticket  \
0      1  34.5                       0                 0              330911
1      0  47.0                       1                 0              363272
2      1  62.0                       0                 0              240276
3      1  27.0                       0                 0              315154
4      0  22.0                       1                 1             3101298
5      1  14.0                       0                 0                7538
6      0  30.0                       0                 0              330972
7      1  26.0                       1                 1              248738
8      0  18.0                       0                 0                2657
9      1  21.0                       2                 0           A/4 48871
10     1  27.0                       0                 0              349220
11     1  46.0                       0                 0                 694
12     0  23.0                       1                 0               21228
13     1  63.0                       1                 0               24065
14     0  47.0                       1                 0         W.E.P. 5734
15     0  24.0                       1                 0       SC/PARIS 2167
16     1  35.0                       0                 0              233734
17     1  21.0                       0                 0                2692
18     0  27.0                       1                 0    STON/O2. 3101270
19     0  45.0                       0                 0                2696
20     1  55.0                       1                 0            PC 17603
21     1   9.0                       0                 1             C 17368
22     0  27.0                       0                 0            PC 17598
23     1  21.0                       0                 1            PC 17597
24     0  48.0                       1                 3            PC 17608
25     1  50.0                       1                 0           A/5. 3337
26     0  22.0                       0                 1              113509
27     1  22.5                       0                 0                2698
28     1  41.0                       0                 0              113054
29     1  27.0                       2                 0                2662
..   ...   ...                     ...               ...                 ...
388    1  21.0                       0                 0              364858
389    1   6.0                       3                 1              349909
390    1  23.0                       0                 0               12749
391    0  51.0                       0                 1            PC 17592
392    1  13.0                       0                 2           C.A. 2673
393    1  47.0                       0                 0          C.A. 30769
394    1  29.0                       3                 1              315153
395    0  18.0                       1                 0               13695
396    1  24.0                       0                 0              371109
397    0  48.0                       1                 1               13567
398    1  22.0                       0                 0              347065
399    1  31.0                       0                 0               21332
400    0  30.0                       0                 0               36928
401    1  38.0                       1                 0               28664
402    0  22.0                       0                 1              112378
403    1  17.0                       0                 0              113059
404    1  43.0                       1                 0               17765
405    1  20.0                       0                 0       SC/PARIS 2166
406    1  23.0                       1                 0               28666
407    1  50.0                       1                 1              113503
408    0  27.0                       0                 0              334915
409    0   3.0                       1                 1  SOTON/O.Q. 3101315
410    0  27.0                       0                 0              365237
411    0  37.0                       1                 0               19928
412    0  28.0                       0                 0              347086
413    1  27.0                       0                 0           A.5. 3236
414    0  39.0                       0                 0            PC 17758
415    1  38.5                       0                 0  SOTON/O.Q. 3101262
416    1  27.0                       0                 0              359309
417    1  27.0                       1                 1                2668

         prix            Cabin  Embarked  cat_age
0      7.8292              NaN         1        3
1      7.0000              NaN         2        4
2      9.6875              NaN         1        5
3      8.6625              NaN         2        3
4     12.2875              NaN         2        3
5      9.2250              NaN         2        2
6      7.6292              NaN         1        3
7     29.0000              NaN         2        3
8      7.2292              NaN         0        2
9     24.1500              NaN         2        3
10     7.8958              NaN         2        3
11    26.0000              NaN         2        4
12    82.2667              B45         2        3
13    26.0000              NaN         2        5
14    61.1750              E31         2        4
15    27.7208              NaN         0        3
16    12.3500              NaN         1        3
17     7.2250              NaN         0        3
18     7.9250              NaN         2        3
19     7.2250              NaN         0        4
20    59.4000              NaN         0        4
21     3.1708              NaN         2        1
22    31.6833              NaN         2        3
23    61.3792              NaN         0        3
24   262.3750  B57 B59 B63 B66         0        4
25    14.5000              NaN         2        4
26    61.9792              B36         0        3
27     7.2250              NaN         0        3
28    30.5000              A21         2        4
29    21.6792              NaN         0        3
..        ...              ...       ...      ...
388    7.7500              NaN         1        3
389   21.0750              NaN         2        1
390   93.5000              B24         2        3
391   39.4000              D28         2        4
392   20.2500              NaN         2        2
393   10.5000              NaN         2        4
394   22.0250              NaN         2        3
395   60.0000              C31         2        2
396    7.2500              NaN         1        3
397   79.2000              B41         0        4
398    7.7750              NaN         2        3
399    7.7333              NaN         1        3
400  164.8667               C7         2        3
401   21.0000              NaN         2        3
402   59.4000              NaN         0        3
403   47.1000              NaN         2        2
404   27.7208              D40         0        4
405   13.8625              D38         0        3
406   10.5000              NaN         2        3
407  211.5000              C80         0        4
408    7.7208              NaN         1        3
409   13.7750              NaN         2        0
410    7.7500              NaN         1        3
411   90.0000              C78         1        3
412    7.7750              NaN         2        3
413    8.0500              NaN         2        3
414  108.9000             C105         0        3
415    7.2500              NaN         2        3
416    8.0500              NaN         2        3
417   22.3583              NaN         0        3

[418 rows x 12 columns]
the accurucy on the tesx set is 0.681648

ValueError: could not convert string to float: C105